@charset "UTF-8"

html {
	color: #262626;
}
body {
	font-family: Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
	font-size: 1rem;
	-webkit-text-size-adjust: 100%;
	position: relative;
	min-width: 1024px;
	color: #262626;
	margin: 0;
}

/*#main-content p {
	margin-bottom: 2rem;
}*/

#main-content img {
	max-width: 100%;
	height: auto;
}

div#category_title-area {
    z-index: 1;
    margin: 0;
    padding: 1em;
    background: #6f5499;
    margin-bottom: 20px;
}

div#category_title-area h1 {
    z-index: 1 !important;
    display: table;
    max-width: 1122px;
    height: 70px;
    margin: 0 auto !important;
    text-align: left !important;
    line-height: 1.2;
    position: relative;
}

div#category_title-area h1 span {
    display: table-cell;
    padding: 10px 15px;
    text-align: center !important;
    font-size: 34px;
    color: #fff;
    vertical-align: middle;
}

div#content-area {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 34px;
}

#main-content .lead {
    margin-top: 75px;
    margin-bottom: 75px;
    text-align: center;
    font-size: 1.5rem;
}

#main-content h2 {
    margin-bottom: 1.2em;
    font-size: 1.47em;
    border-bottom: 1px solid #999999;
    padding: 0 0 10px;
}

#main-content h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

div#footer-nav-area {
    width: 100%;
    background: #000;
    padding: 45px 0;
    overflow: hidden;
}


@media screen and (max-width: 669px) {

	body {
		min-width: 100%;
		margin: 0;
	}

	div#content-area {
		padding: 0 15px;
	}

	#main-content {
		width: 100%;
		overflow: visible;
	    line-height: 1.8;
	    margin-bottom: 0;
	}
}






























